<div class="header-fixed">

  <div class="left-side">
    <div class="logo-plc">
      <a routerLink="/">
        <img src="{{logoUrl}}" />
      </a>
    </div>
  </div>

  <div class="right-side">
    <nav>
      <a routerLink="{{usersUrl}}">Lista e Userëve</a>

      <a routerLink="{{economyUrl}}">Ekonomia</a>

      <a [matMenuTriggerFor]="bibliotekaMenu">Bilbioteka</a>
      <mat-menu #bibliotekaMenu="matMenu">
        <button mat-menu-item routerLink="{{booksUrl}}">Librat</button>
        <button mat-menu-item routerLink="{{authorsUrl}}">Autorët</button>
        <button mat-menu-item routerLink="{{manageBorrowRequest}}">Lista e Huazimeve</button>
      </mat-menu>
    </nav>

    <div class="profile-avatar">
      <div class="open-menu">
        <p>{{tokenData.username}}</p>
        <div class="image" [matMenuTriggerFor]="menu"  [ngStyle]="{ 'background-image': 'url(' + avatarUrl + ')'}"></div>
      </div>
      <mat-menu #menu="matMenu">
        <button [routerLink]="resetPassword" mat-menu-item>Ndrysho Fjalëkalimin</button>
        <button [routerLink]="profileUrl" mat-menu-item>Profili Juaj</button>
        <button mat-menu-item (click)="logOut()">Dil</button>
      </mat-menu>
    </div>
  </div>

</div>
