<div class="header-fixed">

  <div class="left-side">
    <div class="logo-plc">
      <a href="#">
        <img src="{{logoUrl}}" />
      </a>
    </div>
  </div>

  <div class="right-side">
    <nav>
      <a [matMenuTriggerFor]="bibliotekaMenu">Bilbioteka</a>
      <mat-menu #bibliotekaMenu="matMenu">
        <button mat-menu-item routerLink="{{authorsUrl}}">Autoret</button>
        <button mat-menu-item routerLink="{{booksUrl}}">Librat</button>
      </mat-menu>

      <a href="#" class="selected">Ekonomia</a>
      <a href="#">Integrimi</a>
    </nav>

    <div class="profile-avatar">
      <div class="open-menu">
        <p>{{tokenData.username}}</p>
        <div class="image" [matMenuTriggerFor]="menu" style='background-image: url("/assets/images/img_avatar.png")'></div>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profili im</button>
        <button mat-menu-item (click)="logOut()">Dil</button>
      </mat-menu>
    </div>
  </div>

</div>
