@import '~src/scss/theme';

:host {
  display: flex;
  flex: 1;
}

.books-bg {
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.author-list {
  z-index: 999;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  p {
    font-size: 26px;
  }
}

.button-filter {
  display: flex;

  .filter {
    margin-right: 15px;
    display: flex;
  }

  .authors {
    width: 150px;
    margin-right: 10px;

    .mat-select {
      width: 100%;
      height: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      padding: 7px;
    }
  }
}

.card-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;


  .card {
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  }

  &--view {
    display: block;

    ::ng-deep {
      .product-card {
        display: inline-block;
        width: 100%;

        &-space {
          width: 100%;
          padding: 9px 9px 5px 9px;
          margin: 0;
        }

        img {
          height: 100px !important;
          width: 100px !important;
        }

        .product-desc {
          display: inline-block;
          width: calc(100% - 130px);
          vertical-align: top;
        }

        .product-card-image {
          display: inline-block;
        }
      }
    }
  }
}

.list-checkbox {
  padding: 7px 5px 5px 5px;
  background: none;
  margin-right: 10px;
  cursor: pointer;

  &.list-view {
    background-color: $orange;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1350px) {
  .card-list {
    width: 1000px
  }
}
@media screen and (max-width: 1050px) {
  .card-list {
    width: 800px
  }
}

@media screen and (max-width: 850px) {
  .card-list {
    width: 100%;
    justify-content: center;
  }
}
