@import '~src/scss/theme';

:host {
  display: flex;
  flex: 1;
}

.books-bg {
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.main-title {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  background-color: #eee;
  padding-top: 20px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);

  div {
    background-color: #fff;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
  }
}

.button-filter {
  background-color: #fff;
  max-height: 100%;
  margin-right: 30px;
  border-radius: 3px;
  padding: 10px 0;
  position: fixed;
  top: 180px;
  width: 20%;
  max-width: 355px;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);

  .filter {
    margin-right: 15px;

    &-specific {
      margin: 15px 0;

      p {
        padding-top: 8px;
      }
    }

    &-value * {
      width: 100%
    }

    &-buttons {
      padding-top: 30px;

      button {
        display: block;
        margin: 10px auto;
      }
    }
  }

  .authors, .categories {
    .mat-select {
      width: 100%;
      height: 100%;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      padding: 7px;
    }
  }
}

.card-list {
  width: 100%;
  background-color: #fff;
  margin-top: 120px;
  padding: 20px 0;

  .card {
    margin: 10px 0;
  }

  &--view {
    display: block;

    .card {
      max-width: 100% !important;
    }

    ::ng-deep {
      .product-card {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        height: 100px;

        &-space {
          width: 100%;
          padding: 9px 9px 5px 9px;
          margin: 0;
        }

        img {
          height: 100px !important;
          width: 100px !important;
        }

        .product-desc {
          display: inline-block;
          width: calc(100% - 130px);
          vertical-align: top;
        }

        .product-card-image {
          display: inline-block;
        }
      }
    }
  }
}

.list-checkbox {
  padding: 7px 5px 5px 5px;
  background: none;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;

  p {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }

  &.list-view {
    background-color: $orange;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1350px) {
  .card-list {
    width: 1000px
  }
}
@media screen and (max-width: 1050px) {
  .card-list {
    width: 800px
  }
}

@media screen and (max-width: 850px) {
  .card-list {
    width: 100%;
    justify-content: center;
  }
}
