server:
  servlet:
    context-path: /api
    session:
      cookie:
        http-only: false
  port: 8080

spring:
  sendgrid:
    api-key: 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
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
  datasource:
#    url: "jdbc:postgresql://ec2-54-217-236-206.eu-west-1.compute.amazonaws.com/dacdcj35ed6ko"
#    username: "xsgaqzizelklnz"
#    password: "a453a2ec428c5c949f004563556e70a5ce4fc5d736d474edfb458a1cdbc43a42"
    url: "jdbc:postgresql://localhost:5433/ar"
    username: "it"
    password: "password"
    driverClassName: org.postgresql.Driver
    initialization-mode: always
  flyway:
    baselineOnMigrate: true
    enabled: true
#    url: "jdbc:postgresql://ec2-54-217-236-206.eu-west-1.compute.amazonaws.com/dacdcj35ed6ko"
#    user: "xsgaqzizelklnz"
#    password: "a453a2ec428c5c949f004563556e70a5ce4fc5d736d474edfb458a1cdbc43a42"
    url: "jdbc:postgresql://localhost:5433/ar"
    username: "it"
    password: "password"
  mail:
    host: "email-smtp.us-west-2.amazonaws.com"
    username: "it.arprishtine@gmail.com"
    password: "itPrishtine1!"
    transport:
      protocol: smtp
      port: 25
      auth: true
      starttls:
        enable: true
        required: true

#AWS properties
amazonProperties:
  endpointUrl: "https://s3.us-east-2.amazonaws.com"
  accessKey: "AKIAQII6KD23XJJFCXXU"
  secretKey: "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"
  bucketName: "ar-prishtine"

app.awsServices.bucketName: "ar-prishtine"
cloud:
  aws:
    stack.auto: false
    region.static: "eu-central-1"
    credentials:
      accessKey: "AKIAQII6KD23XJJFCXXU"
      secretKey: "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"

jwt:
  secret: javainuse
#  jwt expiration in hours
  expiration: 24
#  spring.mail.host=email-smtp.us-west-2.amazonaws.com
#  spring.mail.username=username
#  spring.mail.password=password
#  spring.mail.properties.mail.transport.protocol=smtp
#  spring.mail.properties.mail.smtp.port=25
#  spring.mail.properties.mail.smtp.auth=true
#  spring.mail.properties.mail.smtp.starttls.enable=true
#  spring.mail.properties.mail.smtp.starttls.required=true

#jwt.secret: javainuse
#jwt.expiration: 5 * 60 * 60

#
#
#  spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
#  spring.jpa.hibernate.ddl-auto=update
#  spring.datasource.url=jdbc:postgresql://localhost:5432/test
#  spring.datasource.username=testuser
#  spring.datasource.password=testuser
#  spring.datasource.initialization-mode=always
#  spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
#  server.servlet.context-path=/api
#  jwt.secret=javainuse
#  spring.flyway.baselineOnMigrate = true
#  spring.flyway.enabled=false
#
#spring.flyway.url: "jdbc:postgresql://localhost:5432/test"
#spring.flyway.user: testuser
#spring.flyway.password: testuser


