server:
  servlet:
    context-path: /api
    session:
      cookie:
        http-only: false
  port: 8080

spring:
  profiles:
    active: local
  freemarker:
    suffix: .ftlh
    settings:
      recognize_standard_file_extensions: true
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update

#AWS properties
amazonProperties:
  endpointUrl: "https://s3.us-east-2.amazonaws.com"
  accessKey: "AKIAQII6KD23XJJFCXXU"
  secretKey: "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"
  bucketName: "ar-prishtine"

app.awsServices.bucketName: "ar-prishtine"

cloud:
  aws:
    stack.auto: false
    region.static: "eu-central-1"
    credentials:
      accessKey: "AKIAQII6KD23XJJFCXXU"
      secretKey: "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"

jwt:
  secret: javainuse
  expiration: 24


