:host {
  display: flex;
  flex: 1;
}

.book-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.title {
  p {
    font-size: 26px;
  }

}

.card-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;


  .card {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  }
}

@media screen and (max-width: 1350px) {
  .card-list {
    width: 1000px
  }
}
@media screen and (max-width: 1050px) {
  .card-list {
    width: 800px
  }
}

@media screen and (max-width: 850px) {
  .card-list {
    width: 300px;
  }
}
