.login-form {
  width: 500px;
  border-radius: 3px;
  background-color: #fff;
}

.form-wrap {
  padding: 40px 0;
}

.button {
  text-align: center;
}

form {
  padding: 0 40px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

    img {
      width: 200px;
    }
}
