:host {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,132,96,1) 59%, rgba(0,132,99,1) 89%);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
