@import '~src/scss/theme';

p {
  font-weight: 500;
  font-size: 20px;
}

span {
  color: $orange;
}

form {
  padding-top: 20px;
}

.buttons-plc {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
  width: 100%;

  button:first-of-type, app-button-spinner:first-of-type {
    margin-right: 10px;
  }
}
