.author-card {
  border-radius: 3px;
  background-color: #fff;
  width: 300px;
  overflow: hidden;
  height: 415px;

  .image {
    height: 235px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .title-desc {
    padding: 10px;

    .title {
      margin: 10px 0;

      a {
        font-size: 18px;
      }
    }
  }
}
