<div class='table' *ngIf="dataSource">
  <div class='table-title-holder'>
    <div class='table-title table-title__button'>
      <div class="title">
        <p>Lista e Kerkesave</p>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th style="width: 25%" mat-header-cell *matHeaderCellDef> Useri </th>
        <td style="width: 25%" mat-cell *matCellDef="let element"> {{element.applicationUser.firstName +  ' ' + element.applicationUser.lastName}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="borrowFrom">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef> Data per huazim </th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.borrowFrom | date}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="bookTitle">
        <th style="width: 45%" mat-header-cell *matHeaderCellDef> Titulli i librit </th>
        <td style="width: 45%" mat-cell *matCellDef="let element"> {{element.book.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th style="width: 25%" mat-header-cell *matHeaderCellDef> Statusi </th>
        <td style="width: 25%" mat-cell *matCellDef="let element">
          {{ element.borrowRequestStatus | titlecase }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th style="width: 5%" mat-header-cell *matHeaderCellDef></th>
        <td style="width: 5%" mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu"><span class="material-icons">more_vert</span></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="approveRequest(element)">Aprovo</button>
            <button mat-menu-item (click)="rejectRequest(element)">Refuzo</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>
