<div class="borrowed" *ngIf="borrowedBookOfUser">
  <p>Ju vecse e keni huazuar librin {{borrowedBookOfUser.book.name}}, nese doni te huazoni tjetrin duhet ta ktheni kete paraprakisht !</p>
</div>

<div class="product-details" *ngIf="book">
  <div class='button'>
    <div class='d-flex'>
      <button mat-raised-button color='warn' (click)='deleteBook()'>Fshij Librin</button>
      <button mat-raised-button color='accent' (click)='updateBook()'>Ndrysho Librin</button>
    </div>
  </div>

  <div class="inline-flex">
    <div class="product">
      <div class="details">
        <div class="image">
          <img src="{{book.imageUrl ? book.imageUrl : bookImage}}"/>
        </div>

        <div class="description-actions">
          <div class="description-plc">
            <div class="title">
              <p>{{book.name}}</p>
            </div>

            <div class="category">
              <p>Kategoria: <span>{{book.category}}</span></p>
            </div>

            <div class="category">
              <p>Rafti: <span>{{book.shelf ? book.shelf : '/'}}</span></p>
            </div>

            <div class="author d-flex">
              <p>Autori: </p>
              <a routerLink="{{authorDetailsUrl + '/' + book.author.id}}">
                {{book.author.firstName + ' ' + book.author.lastName}}
              </a>
            </div>

<!--            <div class="publication-edition">-->
<!--              <p>{{book.edition.name}}</p>-->
<!--              <p *ngIf="!book.publicationYear.includes('.')">: {{book.publicationYear}}</p>-->
<!--              <p *ngIf="book.publicationYear.includes('.')">: {{book.publicationYear.split('.')[0]}}</p>-->
<!--            </div>-->

            <div class="description scrollbar-design">
              <p *ngIf="!book.description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an un known printer took a galley of type and
                scrambled it to make a type specimen book. It has survi ved not only five centuries, but also the leap
                into electronic typesetting, remaining essentially u nchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an un known printer took a galley of type and scrambled it to make a type specimen book.
                It has survi ved not only five centuries, but also the leap into electronic typesetting, remaining
                essentially u nchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an un known printer took a
                galley of type and scrambled it to make a type specimen book. It has survi ved not only five centuries,
                but also the leap into electronic typesetting, remaining essentially u nchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>

              <p *ngIf="book.description">
                {{book.description}}
              </p>
            </div>
          </div>
          <div class="books-action__bottom">
<!--            <div class="reviews">-->
<!--              <span class="material-icons checked">star_rate</span>-->
<!--              <span class="material-icons checked">star_rate</span>-->
<!--              <span class="material-icons checked">star_rate</span>-->
<!--              <span class="material-icons">star_rate</span>-->
<!--              <span class="material-icons">star_rate</span>-->
<!--            </div>-->

            <div class="order">
              <button mat-raised-button color="warn" class="mr-2" *ngIf="thisUserBorrowedThisBook" (click)="returnBook()">Kthe Librin</button>
              <button mat-raised-button color="accent" [disabled]="borrowedBook != null || borrowedBookOfUser != null" (click)="borrowRequest()">Huazo Librin</button>
            </div>
          </div>
        </div>
      </div>

      <div class="comments">
        <div class="comments-title">
          <p>Reader Comments</p>
        </div>

        <div class="add-comment comment">
          <div class="user-name">
            <div class="image">
              <img src="{{commentedAvatar}}"/>
            </div>

            <div class="name">
              <p>{{currentUserName}}</p>
            </div>
          </div>

          <form [formGroup]="formGroup" (submit)="submitComment()">
            <div class="form-input">
              <mat-form-field>
                <textarea matInput type="text" formControlName="comment" placeholder="Komenti juaj"></textarea>
              </mat-form-field>

            </div>

            <div class="button-plc">
              <button color="primary" mat-raised-button>Shto Komentin</button>
            </div>
          </form>
        </div>


        <div class="comment" *ngFor="let comment of comments">
          <div class="delete">
            <button mat-button color="warn" *ngIf="comment.applicationUser.id == currentUserId" (click)="deleteComment(comment.id)">Delete</button>
          </div>

          <div class="user-name">
            <div class="image">
              <img src="{{commentedAvatar}}"/>
            </div>

            <div class="name">
              <p>{{comment.applicationUser.firstName}} {{comment.applicationUser.lastName}}</p>
            </div>
          </div>

          <div class="text">
            <p>
              {{comment.comment}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
