.product-details {
  padding: 50px;

  .details {
    position: relative;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    border: 1px solid orange;
    overflow: hidden;
    -webkit-box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);

    .descriptions {
      margin: 30px;
    }

    .description {
      p {
        text-align: justify;
      }
    }

    p {
      margin: 10px 10px 10px 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .image {
      min-width: 254px;
      max-width: 254px;
      min-height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      display: flex;

      p {
        font-size: 30px;
        color: orange;
      }
    }

    .publication-edition {
      display: flex;

      p {
        margin: 0;
        font-size: 24px;
        color: orange;
      }
    }

    .author {
      p {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  .reviews .checked {
    color: orange;
  }

  .reviews {
    display: flex;
    align-items: center;

    p {
      margin: 0 10px 0 0;
    }
  }

  .ads {
    max-width: 250px;
    min-width: 250px;
    margin-left: 30px;

    .ad {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }

  .order {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }


  .comments {
    width: 100%;
    margin-top: 30px;
  }

  .comments-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .comment {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0 0 17px -10px rgba(0,0,0,0.75);
    margin-bottom: 20px;
  }

  .user-name {
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }

    .name {
      p {
        font-size: 20px;
        margin-left: 27px;
      }
    }
  }

  .text {
    p {
      margin-left: 80px;
    }
  }

  label {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .product-details {
    padding: 20px;

    .ads {
      display: none;
    }

    .details {
      .image, .image img {
        height: 390px;
      }

      .description {
        max-height: 160px;
        margin-bottom: 15px;
        overflow-y: scroll;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .product-details {
    .details {
      .image, .image img {
        height: 500px;
      }

      .description {
        max-height: 270px;
        margin-bottom: 15px;
        overflow-y: scroll;
      }
    }
  }
}
