<div class="form" *ngIf="formGroup">
  <div class="title modal-title">
    <p>{{bookId ? 'Ndrysho Liber' : 'Krijo Liber'}}</p>
    <hr>
  </div>

  <form (submit)="createOrUpdateBook()" [formGroup]="formGroup" class="form">
    <div class="form-input">
      <mat-form-field>
        <mat-label>Titulli</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Titulli" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Autori</mat-label>
        <mat-select formControlName="author">
          <mat-option *ngFor="let author of authors" value="{{author.id}}">{{author.firstName}} {{author.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Shtepia Botuese</mat-label>
        <mat-select formControlName="edition">
          <mat-option *ngFor="let edition of editions" value="{{edition.id}}">{{edition.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <input matInput type="text" formControlName="category" placeholder="Kategoria" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rafti</mat-label>
        <input matInput type="text" formControlName="shelf" placeholder="Rafti" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Viti i botimit</mat-label>
        <input matInput type="text" formControlName="publicationYear" placeholder="Viti i Botimit" />
      </mat-form-field>


      <div class="form-input">
        <textarea matInput matTextareaAutosize="false" type="text" formControlName="description" placeholder="Pershkrim"></textarea>
      </div>
    </div>

    <div class="button buttons-plc">
      <button mat-raised-button type="button" (click)="closeDialog()">Mbyll</button>
      <app-button-spinner [text]="bookId ? 'Ndrysho' : 'Shto'" color="primary" [loading]="loading"></app-button-spinner>
    </div>
  </form>
</div>
