*{
  box-sizing: border-box;
}

p, a {
  margin: 0;
  color: #666;
  line-height: 1.4;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  min-height: 100%;
  min-width: 100%;
  background-color: #eee;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

button, button:focus {
  outline: none;
  border: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

