<div class="form" *ngIf="formGroup">
  <div class="title modal-title">
    <p>Krijo Autore te ri</p>
    <hr>
  </div>

  <form (submit)="createOrUpdateAuthor()" [formGroup]="formGroup" class="form">
    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        class="form-control"
        (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
    </div>

    <img [src]="imageSrc" *ngIf="imageSrc">

    <div class="form-input">
      <mat-form-field>
        <mat-label>Emri</mat-label>
        <input matInput type="text" formControlName="firstName" placeholder="Emri" />
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field>
        <mat-label>Mbiemri</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Mbiemri" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data e Lindjes</mat-label>
        <input matInput type="text" formControlName="dateOfBirth" placeholder="Data e Lindjes"  [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data e Vdekjes</mat-label>
        <input matInput type="text" formControlName="dateOfDeath" placeholder="Data e Vdekjes (Nese ka)"  [matDatepicker]="picker2" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

        <div class="form-input">
          <textarea matInput matTextareaAutosize="false" type="text" formControlName="description" placeholder="Pershkrim"></textarea>
        </div>
    </div>

    <div class="button buttons-plc">
      <button mat-raised-button type="button" (click)="closeDialog()">Mbyll</button>
      <app-button-spinner [text]="authorId ? 'Ndrysho' : 'Shto'" color="primary" [loading]="loading"></app-button-spinner>
    </div>
  </form>
</div>
