@import "~src/scss/theme";

.product-card {
  background-color: #fff;
  width: 270px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #dbdbdb;

  &-space {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
  }

  &-image {
    position: relative;

    .borrowed {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
    }
  }

  img {
    width: 100%;
    height: 300px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  p {
    margin: 3px 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .product-desc {
    padding: 10px;
  }

  //.product-author {
  //  width: 90%;
  //  overflow: hidden;
  //  white-space: nowrap;
  //  text-overflow: ellipsis;
  //}

  .product-title, .product-author{
    display: flex;

    a {
      font-weight: 500;
      font-size: 16px;
      color: $primary;
      transition: 0.1s all ease-in-out;
      cursor: pointer;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }

  .product-price {
    p {
      color: $orange;
    }
  }

  .product-author {
    a {
      color: $secondary;
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 16px;
}

.content-img {
  margin: auto;
  overflow: hidden;
}

// coppied

.content-image {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;

  a {
    width: 100%;
    display: flex;
  }
}

.content-image .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-image:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-image:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p{
  color: #fff;
  font-size: 18px;
}

.fadeIn-left{
  left: 20%;
}
