<div class="product-card-space">
  <div class="product-card">
    <div class="product-card-image">
      <!--  i huazuar kur e ka vleren 0-->
      <a routerLink="{{bookDetailsUrl(book.id)}}" class="borrowed" *ngIf="book.borrowStatus == '0'">I Huazuar</a>

      <div class="content-image">
        <a routerLink="{{bookDetailsUrl(book.id)}}">
          <img src="{{book.imageUrl ? book.imageUrl : bookImage}}"/>

          <div class="content-overlay"></div>

          <div class="content-details fadeIn-left">
<!--            <p>Liber Historik</p>-->
          </div>
        </a>
      </div>
    </div>
    <div class="product-desc">
      <div class="product-title"  matTooltip="{{book.name}}" matTooltipPosition="above">
        <a routerLink="{{bookDetailsUrl(book.id)}}">{{book.name}}</a>
      </div>

      <div class="product-author">
        <a [routerLink]="authorDetailsUrl(book.authorId)">
          {{book.authorFirstName + ' ' + book.authorLastName}}
        </a>
      </div>

      <div class="product-price">
        <p>{{book.category}}</p>
      </div>
    </div>
  </div>
</div>
